<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BINGO</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="js/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="mt-2">
          <h1 class="title text-center">
            <span v-for="(n,idx) in numbers">{{idx}}</span>
          </h1>
        </div>
        <hr />
        <div class="input-group mb-3">
          <input type="number" class="form-control" ref="input" v-model="num" max="75">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="addNum">+</button>
        </div>
        <div class="row bingos">
          <div class="col-md-4" v-for="bingo in bingos">
            <div class="card mb-4">
              <div class="card-body p-1">
                <table class="table table-sm table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>B</th>
                            <th>I</th>
                            <th>N</th>
                            <th>G</th>
                            <th>O</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr v-for="r in bingo.numbers">
                        <td v-for="c in r" :class="{active: checkNum(c), nbingo:!c}">
                          <div>
                            <span>{{c || '#'+bingo.id}}</span>
                          </div>
                        </td>
                      </tr>
                        <!-- <tr v-for="r in 5">
                            <td v-for="c in 5" :class="{'active':checkNum(bingo.numbers[(r-1)+((c-1)*5)])}">
                                {{bingo.numbers[(r-1)+((c-1)*5)]}}
                            </td>
                        </tr> -->
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
