<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BINGO</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="js/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid py-2">
          <div class="leters text-center" v-if="!numbers.length">
            <button class="btn btn-outline-primary leter" v-for="(n,l) in leters" @click="showNumbers(l)">
              {{l}}
            </button>
          </div>
          <div class="text-center numbers" v-else>
            <button class="btn btn-secondary float-start" @click="back()"> back</button> <br>
            <button class="btn number" :class="{'btn-outline-primary':checkNum(n)}" v-for="n in numbers"  @click="addNum(n)">{{String(n).padStart(2,'0')}}</button>
          </div>
        <div class="row bingos">
          <div class="col-md-4" v-for="bingo in bingos">
            <div class="card mb-4">
              <div class="card-body p-1">
                <table class="table table-sm table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>B</th>
                            <th>I</th>
                            <th>N</th>
                            <th>G</th>
                            <th>O</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr v-for="r in bingo.numbers">
                        <td v-for="c in r" :class="{active: checkNum(c), nbingo:!c}">
                          <div>
                            <span>{{c || '#'+bingo.id}}</span>
                          </div>
                        </td>
                      </tr>
                        <!-- <tr v-for="r in 5">
                            <td v-for="c in 5" :class="{'active':checkNum(bingo.numbers[(r-1)+((c-1)*5)])}">
                                {{bingo.numbers[(r-1)+((c-1)*5)]}}
                            </td>
                        </tr> -->
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
